html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    flex-wrap: wrap;
    box-sizing: border-box;

    margin: 0;
}

.background {
    flex-wrap: wrap;
    box-sizing: border-box;

    max-width: 100%;
    min-height: 50rem;
    padding: 0.1%;
    background-color: rgb(241, 229, 214);
}

.memes-and-title-container {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    box-sizing: border-box;

    color: blue;

    max-width: 100%;

    font-family: 'Tilt Warp';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.all-memes-container:hover .meme-title {
    color: black;
}

.all-memes-container:hover .arrow {
    display: block;
    animation: shows 1s;
}

.h1-text {
    margin-left: 5%;
    flex-wrap: wrap;
    box-sizing: border-box;

    color: black;
}

.meme-item {
    max-width: 100%;

    flex-wrap: wrap;
    box-sizing: border-box;

    border-top: 1px solid rgb(177, 173, 173);
}

.all-memes-container {
    flex-wrap: wrap;
    box-sizing: border-box;

    max-width: 100%;
}

.title-and-arrow {
    max-width: 100%;

    flex-wrap: wrap;
    box-sizing: border-box;
}

.meme-title {
    max-width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;

    display: grid; /*нужно прописывать, т.к. лэйбл строчный элемент*/
    grid-template-columns: 63% 27% 10%;
    grid-template-rows: 10% 90%;
    justify-items: start;

    cursor: pointer;

    transition: color .3s;
}

 .meme-item:hover .picture-display {
    display: block;
    animation: shows 1s;
}

.meme-item:hover .arrow {
    transform: rotate(360deg);
    animation: infinite-spinning 0.5s;
}


@keyframes shows {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
}

@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.title-text {
    max-width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;

    margin: 0;
    padding: 4%;
}

.arrow {
    display: none;

    margin: 40% 40%;

    border-style: solid;
    border-width: 0 7.5px 12px 7.5px;
    border-color: transparent transparent #000000 transparent;

    transform: rotate(180deg);
}

.meme-input {
    max-width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;

    /* следующие пять строчек нужны для скрытия радио кнопки на всех уровнях */
    width: 0;
    height: 0;

    -webkit-appearance: none;
    appearance: none;

    position: absolute;
}

.meme-input:checked + .picture-display {
    display: flex;
    color: blue;
    justify-content: center;
}

.meme-input:checked + .meme-title {
    color: blue;
}


.picture-display {
    flex-wrap: wrap;
    box-sizing: border-box;

    /* scale: 0.7; */
    display: none;
    max-width: 100%;
    padding-bottom: 4%;

    grid-column-start: 1;
    grid-column-end: 4;
}

.meme-picture {
    max-width: 100%;

    flex-wrap: wrap;
    box-sizing: border-box;

    transition: 1s;

    display: flex;
    justify-content: center;
}

.picture {
    max-width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;

    transition: 1s;
}

@media screen and (max-width: 820px) {

    .memes-and-title-container {
        font-size: 14px;
    }
}

@media screen and (max-width: 470px) {

    .picture-display {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .memes-and-title-container {
        font-size: 10px;
    }
}