html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body {
    margin: 0px;
}

.background {
    max-width: 100%;
    height: 100rem;
    /* margin: 20px auto; */
    padding: 20px;
    background-color: rgb(241, 229, 214);
}

.all-memes-container {
    color: blue;

    max-width: 500px;
    /* height: 100rem; */
    margin: 20px auto;

    font-family: 'Tilt Warp';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.all-memes-container:hover .meme-title {
    color: black;
}

.h1-text {
    color: black;
}

.meme-item {
    border-top: 1px solid rgb(177, 173, 173);
    /* border-bottom: 1px solid rgb(177, 173, 173); */
}

.meme-title {
    display: block; /*нужно прописывать, т.к. лэйбл строчный элемент*/
    padding: 10px 15px;
    cursor: pointer;

    transition: color .3s;
}

 .meme-item:hover .picture-display {
    display: block;
    animation: shows 1s;
}

@keyframes shows {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

.meme-input {
    /* следующие пять строчек нужны для скрытия радио кнопки на всех уровнях */
    width: 0;
    height: 0;

    -webkit-appearance: none;
    appearance: none;

    position: absolute;
}

.meme-input:checked + .picture-display {
    display: block;

}

.picture-display {
    /* scale: 0.7; */
    display: none;
    padding-bottom: 20px;
}

.meme-picture {
    transition: 1s;
    /* transform: scale(0.7); */

    display: flex;
    justify-content: center;
}

.picture {
    transition: 1s;
}


.cross {
}
