html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body {
    margin: 0px;
}

.background {
    max-width: 100%;
    height: 100rem;
    background-color: burlywood;
}